<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Yaakov Gamliel</title>
	<meta name="description" content="iOS development, Ruby on Rails, Sinatra">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
	
	<link rel="author" type="text/plain" href="humans.txt">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="webfonts/ss-social-regular.css">
    
    </head>
		<body>
			<a href="mailto:yaakovgamliel@me.com?subject=I'd like to hire you" class='hire-me'><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="images/hire-me@2x.png" alt="Hire Me"></a>
			<header>
				<h1>Yaakov Gamliel</h1>
				<h2 class="manifesto">I make iOS and Web apps.</h2>	
			</header>

			<section class="work">
				<ul class="projects">
					<li><a href="http://www.g2think.com">G2think</a></li>
					<li><a href="http://www.sergata.com">Sergata</a></li>
					<li><a href="http://www.recordifyapp.com">Recordify</a></li>
				</ul>
			</section>
		
			<footer>
				<ul class="social">
					<li class="ss-icon"><a href="http://twitter.com/yaakov_g">Twitter</a></li>
					<li class="ss-icon"><a href="https://github.com/yasha0x80">githuboctocat</a></li>
					
					
					<li class="ss-icon"><a href="mailto:yaakovgamliel@me.com">Mail</a></li>
				</ul>
			</footer>
	</body>
</html>
